<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
</head>

<body>

<nav class="navbar navbar-default">
    <h2 class="site-name">
        My Blog
    </h2>
</nav>


<div class="section blog-categories blog-categories-active-all-posts">
    <a class="text-darkblue blogCategoriesLink blog-category-about-me" href="/blog/">About me.</a>
    <a class="text-darkgreen blogCategoriesLink" href="/blog/javascript/">Resume</a>
    <a class="text-pink blogCategoriesLink" href="/blog/css/">Interests</a>
    <a class="text-red blogCategoriesLink" href="/blog/design/">Projects</a>
</div>

<div class="section grid-items">
    <a class="grid-item post-preview" href="#" style="background-color: #3bab87">
        <h1 class="grid-item-header" style="color: rgba(255,255,255,1)">Audio signal processing and speech recognition</h1>
        <span class="grid-item-button">
            <span class="grid-item-button-label">Read More</span>
        </span>
        <p class="grid-item-text" style="color: rgba(255, 255, 255, 1)">Learn how to build and deploy a speech recognition model using  Keras/Tensorflow and flask.</p>
    </a>

    <a class="grid-item post-preview" href="#" style="background-color: #FDF0EC">
        <h1 class="grid-item-header" style="color: rgba(0,0,0,1)">Prediction of diabetes using classification</h1>
        <span class="grid-item-button">
            <span class="grid-item-button-label">Read More</span>
        </span>
        <p class="grid-item-text" style="color: rgba(0, 0, 0, 1)">
            Use Logistic regression and other approaches to identify risk factors for diabetes</p>
    </a>

    <a class="grid-item post-preview" href="#" style="background-color: #1c323d">
        <h1 class="grid-item-header" style="color: rgba(255,255,255,1)">Hand gesture classification using EMG recordings</h1>
        <span class="grid-item-button">
            <span class="grid-item-button-label">Read More</span>
        </span>
        <p class="grid-item-text" style="color: rgba(255, 255, 255, 1)">xxx</p>
    </a>

    <a class="grid-item post-preview" href="#" style="background-color: #98bec8">
        <h1 class="grid-item-header" style="color: rgba(255,255,255,1)">Predicting changes in the stock market</h1>
        <span class="grid-item-button">
            <span class="grid-item-button-label">Read More</span>
        </span>
        <p class="grid-item-text" style="color: rgba(255, 255, 255, 1)">xxx</p>
    </a>
</div>


<!--<div class="section">-->
<!--        <p>This is an app to demonstrate my speech recognition model predicting-->
<!--        what is said as a user speaks into the web browser.-->
<!--        To start, click and hold onto the microphone icon and say something. When-->
<!--        you are finished release the mouse button to hear your words played back to you-->
<!--        </p>-->
<!--</div>-->

<!--    <div class="canvas" style="width: 720px;-->
<!--height: 250px; text-align: center;-->
<!--        display: flex;-->
<!--  flex-direction: column; border: 3px solid green;-->
<!--  left: 25%;">-->
<!--        <div><h2>Last uploaded file:</h2>-->
<!--            <p><span id="test"></span></p>-->
<!--        </div>-->

<!--        <button id="recordMic">-->
<!--            <img src="{{url_for('static', filename='mic.png')}}">-->
<!--        </button>-->

<!--    </div>-->

<!--<div class="container">-->
<!--    <h2>Predict</h2>-->

<!--    <a href=# id=predict class="prediction_link">Return Text Prediction</a>-->

<!--    <p><span id=result ></span></p>-->


<!--</div>-->



<!--{% assets "main_js" %}-->
<!--<script type="text/javascript" src="{{ASSET_URL}}" ></script>-->
<!--{% endassets %}-->

<!--<script type=text/javascript src="{{url_for('static',filename='microphoneController.js')}}"></script>-->

<!-- <script type=text/javascript>-->
<!--  $(function() {-->
<!--    $('a#predict').bind('click', function() {-->
<!--        $.getJSON("/predict",-->
<!--                function(data) {-->
<!--                    $('#result').text(data.result);-->
<!--                }-->
<!--        );-->
<!--    });-->
<!--  });-->
<!--</script>-->

</body>
</html>